/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../../app/stylesheets/screen.scss */
h1 {
  font-size: 32px;
}

/* line 15, ../../app/stylesheets/screen.scss */
.buttonCls {
  padding: 15px 20px;
  color: #fff;
  background: #666;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font-size: 22px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
  margin: 10px auto;
  text-align: center;
  display: inline-block;
}
/* line 26, ../../app/stylesheets/screen.scss */
.buttonCls:hover {
  background: #525252;
}

/* line 31, ../../app/stylesheets/screen.scss */
body {
  background: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 35, ../../app/stylesheets/screen.scss */
p {
  margin: 20px 0 10px 0;
}

/* line 39, ../../app/stylesheets/screen.scss */
.wrapper {
  padding: 40px;
  width: 720px;
  background: #fff;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  margin: 40px auto;
}

/* line 46, ../../app/stylesheets/screen.scss */
.navigation {
  list-style: none;
  height: 40px;
  display: block;
  float: right;
  width: 300px;
  text-align: right;
}
/* line 53, ../../app/stylesheets/screen.scss */
.navigation li {
  display: inline-block;
}
/* line 56, ../../app/stylesheets/screen.scss */
.navigation a {
  background: #ccc;
  color: #333;
  padding: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
}
/* line 62, ../../app/stylesheets/screen.scss */
.navigation a:hover {
  background: #b3b3b3;
}
